* {
    --color-Eigengrau: #16161D;
    --color-Eigengrau2: #292936;
    --color-Eigengrau3: #3C3C4F;
    --color-Eigengrau4: #A7A7CA;
    --color-Console: #B7B7FF;
    --color-Autopilot: #4285F4;
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-display: swap;
    src: url(/fonts/roboto-mono-latin-400-normal.woff2) format('woff2'), url(/fonts/roboto-mono-latin-400-normal.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-Eigengrau);
    color: var(--color-Console);
}

.fill {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.canvas {
    width: 100%;
    height: 100%;
}

.top-text {
    width: 100%;
    margin: 8px;
    pointer-events: none;
    font-size: 12px;
    font-family: "Roboto Mono", monospace;
    position: fixed;
    top: 0;
    left: 0;
    color: var(--color-Console);
}

.container-text {
    width: 100%;
    margin: 0;
    pointer-events: none;
    font-size: 12px;
    font-family: "Roboto Mono", monospace;
    display: block;
    top: 0;
    left: 0;
}

.top-container {
    width: 100%;
    margin: 8px;
    pointer-events: none;
    font-size: 12px;
    font-family: "Roboto Mono", monospace;
    position: fixed;
    top: 0;
    left: 0;
    color: var(--color-Console);
}

.bottom-container {
    width: 100%;
    margin: 8px;
    pointer-events: none;
    font-size: 12px;
    font-family: "Roboto Mono", monospace;
    position: fixed;
    bottom: 0;
    left: 0;
    color: var(--color-Console);
}

.top-right-container {
    margin: 8px;
    position: fixed;
    top: 0;
    right: 0;
}

.bottom-right-container {
    margin: 8px;
    position: fixed;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out;
}

.controls-show {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.autopilot {
    color: var(--color-Autopilot);
}

.autopilot-label {
    color: var(--color-Autopilot);
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.bottom-text {
    width: 100%;
    margin: 8px;
    pointer-events: none;
    font-size: 12px;
    font-family: "Roboto Mono", monospace;
    position: fixed;
    bottom: 0;
    left: 0;
    color: var(--color-Console);
}

.loading {
    margin: 8px;
    color: var(--color-Console);
}

#speedContainerMask {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(1px);
    position: fixed;
    width: 100vw;
    height: 100vh;
    color: initial;
}

.speed-container-hide {
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms linear, visibility 200ms step-end;
}

.speed-container-show {
    opacity: 1;
    visibility: visible;
    transition: opacity 200ms linear, visibility 0ms step-start;
}

.speed-highlight {
    background-color: var(--color-Eigengrau4);
}

#speedContainerMask>table {
    width: 100%;
    height: 100%;
    text-align: center;
}

#speedContainer {
    display: inline-block;
    background-color: white;
    border-radius: 8px;
    padding: 8px;
}

#speedIntegral,
#speedDecimal {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#speedContainerButton {
    text-align: left;
}

#speedButton,
#speedIntegral>button,
#speedDecimal>button,
#speedContainerButton>button {
    user-select: none;
}