* {
    --color-Eigengrau: #16161D;
    --color-Eigengrau2: #292936;
    --color-Eigengrau3: #3C3C4F;
    --color-Eigengrau4: #A7A7CA;
    --color-Console: #B7B7FF;
    --color-Autopilot: #4285F4;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("RobotoMono-Regular.ttf");
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-Eigengrau);
    color: var(--color-Console);
}

.fill {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.canvas {
    width: 100%;
    height: 100%;
}

.top-text {
    width: 100%;
    margin: 8px;
    pointer-events: none;
    font-size: 12px;
    font-family: "Roboto Mono", monospace;
    position: fixed;
    top: 0;
    left: 0;
    color: var(--color-Console);
}

.container-text {
    width: 100%;
    margin: 0;
    pointer-events: none;
    font-size: 12px;
    font-family: "Roboto Mono", monospace;
    display: block;
    top: 0;
    left: 0;
}

.top-container {
    width: 100%;
    margin: 8px;
    pointer-events: none;
    font-size: 12px;
    font-family: "Roboto Mono", monospace;
    position: fixed;
    top: 0;
    left: 0;
    color: var(--color-Console);
}

.top-right-container {
    margin: 8px;
    position: fixed;
    top: 0;
    right: 0;
}

.bottom-right-container {
    margin: 8px;
    position: fixed;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out;
}

.controls-show {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.autopilot {
    color: var(--color-Autopilot);
}

.autopilot-label {
    color: var(--color-Autopilot);
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.bottom-text {
    width: 100%;
    margin: 8px;
    pointer-events: none;
    font-size: 12px;
    font-family: "Roboto Mono", monospace;
    position: fixed;
    bottom: 0;
    left: 0;
    color: var(--color-Console);
}

.loading {
    margin: 8px;
    color: var(--color-Console);
}